# --- DuckDB / dbt ---
DUCKDB_PATH="./energydata.duckdb"
DUCKDB_SCHEMA="analytics"              
DBT_TARGET="local"

# Dlt connection
DESTINATION__FILESYSTEM__BUCKET_URL="./data"
NORMALIZE__DATA_WRITER__DISABLE_COMPRESSION="true"
